.lct-importer {
	position: relative;
	margin: 16px 0;
	padding: 25px;
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
	background: #fff;
	font-size: 13px;
	line-height: 2.1em;
}

.lct-importer-inner {
	overflow: hidden;
}

.lct-importer h2 {
	font-weight: bold;
	margin-bottom: 30px;
}

.lct-importer-all {
	margin-bottom: 30px;
}

.lct-importer-row {
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
	padding: 20px;
	margin-bottom: 20px;
	width: 30%;
	float: left;
	margin-right: 3%;
	box-sizing: border-box;
}

.lct-importer-title {
	font-weight: bolder;
	font-size: 18px;
	margin-bottom: 15px;
}

.lct-importer-descr {
	margin-bottom: 15px;
}

.lct-importer-button {
	margin-bottom: 15px;
}

.lct-importer-progress {

}

.lct-importer-progress-item {
	display: none;
}

.lct-importer-progress-item span,
.lct-importer-progress-item strong {
	display: none;
}

.lct-importer-progress-item strong {
	color: #289559;
}
