/*
Theme Name: My Theme Anta
Author: AlexDrozd
Description: Шаблон для сайта АНТА
Version: 1.0
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
*/


@font-face {
    font-family: Roboto;
    src: url(https://fonts.googleapis.com/css?family=Roboto&display=swap);
    font-weight: normal;
}

body {
    font-family: 'Roboto', sans-serif;
}
.my-logo,
footer {
  width: 100%;
  padding-left: 1%;
  /*margin-bottom: 8px;*/
  background-color: #ffffff;
  /*border: 1px solid #ffffff;*/
}
body > header > h1 > a {
color: #ffffff;
font-weight: 400;
}
article > header {

}
footer {
  
}

a {
  text-decoration: none;
}

/* 'Margin: 0 auto' centers block content on the page */
.wrap {
  width: 99%;
  margin: 0 auto;
}

.content-area {
  display: inline-block;
}

.content-thin {
    width: 70%;
}

.content-full-width {
    width: 100%;
}

.content-area,
.primary-sidebar {
  display: inline-block;
}

.primary-sidebar {
  width: 25%;
  padding: 1%;
  vertical-align: top;
  background-color: #ececec;
}

.article-loop {
    width: 45%;
    text-align: left;
    margin: 5px;
    padding: 10px;
}

.article-full {
  width: 99%;
  padding: 1%;
}

.article-loop,
.article-full {
  display: inline-block;
  vertical-align: top;
  background-color: #FFF;
  border-radius: 4px;
  margin-bottom: 4px;
}
.nav_section .container-fluid{
  padding: 0;
}
.nav_section .navbar-default{
  background-color: #0c84c7;
  border: none;
  margin-bottom: 0;
  border-radius: 0;
}
.navbar-default .navbar-nav>li>a{
  color: #fff;
}
.nav_section .navbar-default .navbar-collapse {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.descript {
  overflow: hidden;
  padding: 20px 0;
}
.sidebar_header {
    text-align: center;
}
.sidebar_header .btn-lg {
  border-radius: 0;
}

.question {
    padding-top: 30px;
}

.expert {
    background: rgba(6,6,6,0.0784313725490196);
    min-height: 100px;
}
.work header, .carts header {
    font-weight: 600;
    text-align: center;
    padding: 30px 0;
    font-size: 28px;
}
.obraz, .expert, .stories, .discover, .work, .licenz, .list {
   border-bottom: #0c84c7 solid;
}
.cena {
    margin-bottom: 25px;
    text-align: center;
    padding: 15px 0;
    border-bottom: #0e0e0e solid 2px;
}
.carts {
    padding: 20px;
    position: relative;
    overflow: hidden;
    border-bottom: #f7d122 solid;
}
.cart {
    text-align: left;
    width: 90%;
    margin: 0 auto;
}
.col-md-1.bort-lef {
    border-right: #ccc solid;
    overflow: hidden;
    height: 400px;
}

.discover button {
    border-radius: 0;
}
.discover {
    text-align: center;
}
.stories .item1 {
    text-align: center;
}
.stories .item2 img {
    width: 100%;
}
.discover:after {
    content: '';
    /*content: url(img/cnhtkrb.png);
    display: table;
    float: left;*/
    background-image: url(img/cnhtkrb.png);
    background-position: left;
    position: absolute;
    top: 0;
    right: 10px;
    background-size: cover;
    overflow: hidden;
    width: 16%;
    height: 100%;
}
.discover:before{
    content: '';
    /*content: url(img/cnhtkrb.png);
    display: table;
    float: left;*/
    background-image: url(img/cnhtkrfktd.png);
    background-position: right;
    position: absolute;
    top: 0;
    left: 10px;
    background-size: cover;
    overflow: hidden;
    width: 16%;
    height: 100%;
}
.discover-arrows {
    position: relative;
    margin: 20px auto;
}
.arrows-hedr {
    font-size: 28px;
    font-weight: 600;

}
.nav_section .navbar-default .navbar-nav>li>a {
    color: white;
}
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background-color: #9db4da;
}
.question {
    text-align: center;
}
.question img {
    padding-bottom: 10px;
}
.expert-work {
    width: 65%;
    margin: 30px auto;
    background-color: #f8f8f8;
    border-radius: 0;
}
article.work {
    background-color: rgba(6,6,6,0.0784313725490196);
}
.expert-work ul>li>a {
    background-color: #0c84c7;
    color: #fff;
    border-radius: 0;
    margin: 0;
    font-size: 17px;
    padding: 9px 30px;
    font-weight: 600;
    border: none;
}
.expert-work .nav-tabs {
    border-bottom: none;
}
.expert-work .nav-tabs>li.active>a {
    background-color: #f8f8f8;
    border: none;
    font-size: 17px;
    padding: 9px 30px;
    font-weight: 600;
}
.tab-content {
    padding: 25px;
}
.row-flex {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 30px;
}
.polovl, .polovr {
	height: 180px;
  padding: 0;
    margin: 0 2%;
    width: 46%;
    float: left;
    box-shadow: -4.944px 15.217px 18px rgba(0,0,0,0.21);
}
.polovl { 
  background: #f7d022;

}
.polovl-item {
  background-image: url(img/slo101.png);
}
.polovr {
  background: #0c84c7;  

}
.polovr-item {
  background-image: url(img/slo102.png);  
}
.polovl-item, .polovr-item {
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
    align-items: center;
    justify-content: center;
}
.polovl-item p, .polovr-item p {
  font-size: 18px;
    width: 70%;
}
.polovr-item p {
  color: #fff;
}
.cart-item {
    margin: 10px;
    padding: 10px;
    text-align: center;
}
.cart-item img {
    padding-bottom: 10px;
}
.cart-img {
    padding-top: 25px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.cart>p {
    font-size: 18px;
    font-weight: 600;
    padding-top: 30px;
}
.bort-lef {
  border-left: 2px #272626 solid;
    padding-left: 30px;
}
.obraz p {
    font-size: 24px;
    font-weight: 600;
    padding: 30px 0;
}
.obraz {
    text-align: center;
}
.galeri-sect-item {
    flex-grow: 1;
    box-shadow: -2.339px 7.65px 13px rgba(0,0,0,0.27);
    margin: 20px;
}
.galeri-sect {
    display: flex;
}
.attention {

}
.attention p {
    color: #e20f0f;
    font-size: 14px;
    text-align: center;
    width: 40%;
    margin: 0 auto;
}
.discover-hedrs {

}
.stories-hedrs {
  font-size: 24px;
    font-weight: 600;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 40px;
}
.stories-cont {
  font-size: 16px;
    text-align: left;

}
.stories-logo {
  display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin: 30px 0;
    justify-content: space-evenly;
}
.stories-logo img {
    margin: 10px 20px;
}
.stories .item1 button {
    border-radius: 0;
    font-size: 16px;
    margin: 30px 0;
}
.stories {
    padding-right: 0;
    overflow: hidden;
}

.stories, .item2{
    padding-right: 0;
    padding: 0;
}
.licenz .item2 {
    padding: 40px;
    background: #9fafad;
    text-align: center;
}
.licenz {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
}
.item2-img img {
    width: 35%;
}
.stories .item2 {
    text-align: center;
}
.item2-img {
  display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px;
}
.stories .item1 p {
    font-size: 19px;
    background: #fafbfb2b;
}
.licenz .item1 p {
    width: 65%;
    margin: 50px auto;
    padding: 30px;
    border: #0c84c7 1px solid;
    font-size: 19px;
    background: #fafbfb2b;
}
.stories .item2 p {
  font-size: 24px;
  font-weight: 700;
}
.licenz .item2 p {
  font-size: 24px;
  font-weight: 700;
}
.list-left {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    padding: 15px;
}
.list-right {
    text-align: center;
    font-size: 16px;
    padding: 15px;
    background: #0c84c7;
    color: #fff;
}
.list-right p span {
    font-size: 24px;

}
.panel-group {
    width: 85%;
    margin: 20px auto;
    padding-top: 30px;
}
.list-item.panel-group .panel {
    border-radius: 0;

}
.list-item .panel-group .panel-default>.panel-heading {
    color: #fff;
    background-color: #4b4b4b;
}
.panel-title {
    text-align: center;
}
.panel-title>a {
    font-size: 20px;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
  background: #f5f5f4;
}
.otziv {
  background-color: #ebebeb;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.otziv .item1 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
    margin-top: 30px;
    flex-wrap: wrap;
}
.otziv .item1 img {
  padding: 15px;
}
.otziv p {
    font-size: 24px;
    font-weight: 600;
    padding: 30px;
}
.doubt {
    width: 100%;
    padding: 0;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}
.doubtl {
    background: #f7d022;
    width: 30%;
    padding: 26% 0;
}
.doubt .doubt-row {
    height: 100%; 
    display: flex;
    position: relative;
    padding: 0;
}
.doubtr img {
    /*position: relative;
    left: -84px;*/
}
.doubtr img {
    position: absolute;
    left: 90px;
    bottom: 0;
    width: 55%;
}
.doubtr p {
    padding-top: 24%;
    padding-left: 41%;
}
.doubtr span {
    font-size: 40px;
    font-weight: 600;
}
.doubtr:before {
  /*content: "";
  background: transparent url(img/doubt.png)) scroll no-repeat 0 0;
  background-size: cover;
  width: 150px;
  height: 150px;
  position: absolute;
  display: block;
  top: 50px;
  left: 50px;*/
}
.footer {
  background: #2b2b2b;
   overflow: hidden;
   padding: 30px 0;
}
footer.footer p {
    color: #f7f4f4;
}
.sidebar_foot {
  padding: 20px;
}
.foot-right, .foot-left {
  font-size:  18px;
}
.footer_sidebar {
  width: 90%;
  margin: 15px auto;
  overflow: hidden;
}
.sidebar_foot span {
    margin-right: 10px;
    font-size: 20px;
}
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
.doubt .wpcf7 {
    padding: 30px;
}

.navbar-nav>li>.dropdown-menu {
    margin-top: 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.navbar-default .navbar-nav>li>a {
    font-weight: bold;
}
.mega-dropdown {
    position: static !important;
    width: 100%;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu:before {
    content: "";
    border-bottom: 15px solid #fff;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
    position: absolute;
    top: -15px;
    left: 285px;
    z-index: 10;
}
.mega-dropdown-menu:after {
    content: "";
    border-bottom: 17px solid #ccc;
    border-right: 19px solid transparent;
    border-left: 19px solid transparent;
    position: absolute;
    top: -17px;
    left: 283px;
    z-index: 8;
}
.mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
}
.mega-dropdown-menu > li > ul > li {
    list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #999;
    white-space: normal;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
    color: #444;
    background-color: #f5f5f5;
}
.mega-dropdown-menu .dropdown-header {
    color: #428bca;
    font-size: 18px;
    font-weight: bold;
}
.mega-dropdown-menu form {
    margin: 3px 20px;
}
.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}

@media (max-width: 768px){
    .licenz >.item1 > p {
        width: 100%;
    }
    .attention p {
        width: 80%;
    }
}
